*.vhd linguist-detectable=true
*.c linguist-detectable=true
*.cpp linguist-detectable=true
*.java linguist-detectable=true
*.go linguist-detectable=true
*.py linguist-detectable=true
*.php linguist-detectable=true
*.js linguist-detectable=true
*.ts linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true

*.sqlite linguist-detectable=true
*.sql linguist-detectable=true
*.orcl linguist-detectable=true
*.mongo linguist-detectable=true

*.blade.php linguist-detectable=true
*.vue linguist-detectable=true
*.jsx linguist-detectable=true
*.tsx linguist-detectable=true
*.angular linguist-detectable=true
*.spring linguist-detectable=true

*.json linguist-detectable=true
*.xml linguist-detectable=true
*.yaml linguist-detectable=true
*.yml linguist-detectable=true
*.toml linguist-detectable=true
*.ini linguist-detectable=true
*.md linguist-detectable=true
*.adoc linguist-detectable=true

*.gitattributes linguist-detectable=true
*.gitignore linguist-detectable=true
*.gitmodules linguist-detectable=true